*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
#top{
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    background: linear-gradient(70deg, #5D54D2,#E475E6)
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 40px 50px 40px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#top img{
    width: 6vw;
    max-height: 8vh;
    margin-top: 3px;
    margin-bottom: 5px;
}

#text {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}
#image img{
    width: 100%;
    text-align: center;
}
.icon_pic{
    width: 6vw;
    text-align: end;
}
.text_button{
    display: block;
    border: 2px #e3e7ff solid;
    border-radius: 20px;
    width: 40%;
    background-color: #e3e7ff ;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    transition: all 0.5s linear

}
.text_button:hover{
    background-color: #778AD8;
    border-color: #778AD8;
}
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav a{
    font-family:Arial, Helvetica, sans-serif;
    border: 1.5px whitesmoke solid;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 8px 5px 8px;
    transition: all 0.5s linear;
    font-size: 13px;
    color: whitesmoke;
}
#nav span{
    margin: 5px 6px 5px 6px;
}
#nav a:hover{
    background-color: tomato;
    border: 1.5px tomato solid;
}